rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    // Locations
    match /locations/{locationId} {
      allow read;
      allow create: if request.auth != null;
      allow update: if request.auth != null;
      allow delete: if request.auth != null;
    }
   
    // Users
    match /users/{userId} {
      allow read;
      allow create;
      allow update: if request.auth != null && request.auth.uid == userId;
    }

    // Submits
    match /submits/{submitId} {
      allow read;
      allow create;
      allow update;
      allow delete;
    }
  }
}


