body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* Map styles */
.map {
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* location marker styles */
.location-icon {
    font-size: 2rem;
    color: red;
}
