body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #ececec;
}


/* Map styles */
.map {
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* location marker styles */
.location-icon {
    font-size: 2rem;
    color: red;
}

/* Header/navbar CSS */

nav {
    position: absolute;
    z-index: 100;
}

.h-ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  .h-li {
    font-weight: bold;
    float: left;
  }
  
  .h-a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    transition: 0.4s;
  }
  
  .h-a:hover {
    color: #df9c38;
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    .h-ul .h-li {
        float: none;
    }
    .h-ul {
        height: auto;
    }
    .h-li .h-a {
        padding: 14px 16px;
    }
  }
  
  /* Footer CSS */

  .footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20px; 
    background-color: black;
    opacity: 1;
    z-index: 9999;
  }

  .footer:before {
    content: "...";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  
  /* Show full footer on hover */
  .footer:hover {
    opacity: 1;
    height: auto; 
  }
  
  
  .footer .col {
    width: 25%;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #df9c38;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: white;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }

  .f-a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
  }

  .f-a:hover {
    color: #df9c38;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 600px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }

   /* Loader */

   .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   }

   .loader img {
    width: 400px;
   }

   .loader h1 {
    margin-top: -100px;
   }

   /* Info Box */

   .infoBox {
    position: absolute;
    margin-top: 40px;
    top: 50px;
    right: 50px;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    font-size: 18px;
    color:#ffffff;
   }

   .infoBox ul {
    list-style-type: none;
    padding: 0;
   }

   .infoBox li {
    padding: 5px 0;
   }

   .infoBox button {
    width: 80px;
    background-color: #df9c38;
    font-weight: bold;
    border-radius: 10px;
   }

   .infoBox button:hover {
    background-color: whitesmoke;
    cursor: pointer;
   }

   /* Marker */
.custom-marker {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Marker hover effect */
.custom-marker:hover {
  background-color: #df9c38;
  transform: translate(-50%, -50%) scale(1.2);
}

/* Marker inner content */
.custom-marker div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 12px;
  font-weight: bold;
}

/* Log In styles */
.log-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.log-in-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.log-in-title {
  font-size: 3rem;
  font-weight: bolder;
  color: #df9c38;
  text-shadow: 1px 1px 0 black;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(247, 246, 246);
}

.log-in-password {
  position: relative;
}

.log-in-input {
  flex-grow: 1;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.log-in-show-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.log-in-forgot-password {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.log-in-forgot-password:hover {
  color:#c57e2e;
}

.log-in-bar {
  padding-top: 5%;
  width: 200px;
}

.log-in-button {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background-color: #df9c38;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.log-in-button:hover {
  background-color: #c57e2e;
}

.log-in-register-link {
  font-size: 14px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.log-in-register-link:hover {
  color:#c57e2e;
}

/* Profile styles */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.page-header {
  font-size: 3rem;
  font-weight: bolder;
  color: #df9c38;
  text-shadow: 1px 1px 0 black;
}

.logOut {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background-color: #df9c38;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.logOut:hover {
  background-color: #c57e2e;
}