body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}


/* Map styles */
.map {
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* location marker styles */
.location-icon {
    font-size: 2rem;
    color: red;
}

/* Header/navbar CSS */

nav {
    position: absolute;
    z-index: 100;
}

.h-ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  .h-li {
    font-weight: bold;
    float: left;
  }
  
  .h-a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    transition: 0.4s;
  }
  
  .h-a:hover {
    color: #df9c38;
  }

  @media screen and (max-width: 600px) {
    .h-ul .h-li {
        float: none;
    }
    .h-ul {
        height: auto;
    }
    .h-li .h-a {
        padding: 14px 16px;
    }
  }
  
  /* Footer CSS */

  .footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    background-color: black;
  }
  .footer .col {
    width: 25%;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #df9c38;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: white;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }

  .f-a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
  }

  .f-a:hover {
    color: #df9c38;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 600px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }

   /* Loader */

   .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   }

   .loader img {
    width: 400px;
   }

   .loader h1 {
    margin-top: -100px;
   }
